@model IEnumerable<CompanyAd>
@inject SignInManager<IdentityUser> signInManager
<!-- CompanyAds-->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="bg-banner py-5 px-4 text-center">
            @foreach (var item in Model)
            {
                <div class="py-5">
                    <h1 class="display-1 text-uppercase text-primary mb-4">@item.AdTitle</h1>
                    <h1 class="text-uppercase text-light mb-4">@item.AdSubTitle</h1>
                    <p class="mb-4">@item.AdDescribe</p>
                    @if (signInManager.IsSignedIn(User))
                    {
                        <a asp-action="CarCompany" asp-controller="Cars" class="btn btn-primary py-md-3 px-md-5 mt-2">Reserve Now</a>

                    }
                    else
                    {
                        <a class="btn btn-primary mt-2 py-3 px-5" asp-action="Register" asp-controller="Account">Register Now</a>

                    }
                </div>

            }
        </div>
    </div>
</div>
<!-- CompanyAds-->