@model RoyalCars.Models.ContactUs
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userM


@{
    ViewData["Title"] = "Create";
}

<h4>ContactUs</h4>

<!-- Contact Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <h1 class="display-1 text-primary text-center">05</h1>
        <h1 class="display-4 text-uppercase text-center mb-5">Contact Us</h1>
        <div class="row">
            <div class="col-lg-7 mb-2">
                <div class="contact-form bg-light mb-4" style="padding: 30px;">
                    <form asp-action="Create">
                        <div class="row">
                            <div class="col-6 form-group">

                                <label asp-for="Name" class="control-label "></label>
                                <input asp-for="Name" class="form-control p-4" required="required" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col-6 form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control p-4" required="required" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Subject" class="control-label"></label>
                            <input asp-for="Subject" class="form-control p-4" required="required" />
                            <span asp-validation-for="Subject" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Message" class="control-label"></label>
                            <input asp-for="Message" class="form-control p-4" required="required" />
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>
                        @if (signInManager.IsSignedIn(User))
                            {
                        <div class="col-12">
                            <button value="Create" class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                        </div>

                            }
                            else
                            {

                        <div class="col-12">
                            <a asp-action="LoginC" asp-controller="Account" class="btn btn-primary w-100 py-3">Login</a>
                        </div>
                            }
                    </form>
                </div>
            </div>
            <div class="col-lg-5 mb-2">
                <div class="bg-secondary d-flex flex-column justify-content-center px-5 mb-4" style="height: 435px;">
                    <div class="d-flex mb-3">
                        <i class="fa fa-2x fa-map-marker-alt text-primary flex-shrink-0 mr-3"></i>
                        <div class="mt-n1">
                            <h5 class="text-light">Head Office</h5>
                            <p>123 Street, New York, USA</p>
                        </div>
                    </div>
                    <div class="d-flex mb-3">
                        <i class="fa fa-2x fa-map-marker-alt text-primary flex-shrink-0 mr-3"></i>
                        <div class="mt-n1">
                            <h5 class="text-light">Branch Office</h5>
                            <p>123 Street, New York, USA</p>
                        </div>
                    </div>
                    <div class="d-flex mb-3">
                        <i class="fa fa-2x fa-envelope-open text-primary flex-shrink-0 mr-3"></i>
                        <div class="mt-n1">
                            <h5 class="text-light">Customer Service</h5>
                            <p>customer@example.com</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <i class="fa fa-2x fa-envelope-open text-primary flex-shrink-0 mr-3"></i>
                        <div class="mt-n1">
                            <h5 class="text-light">Return & Refund</h5>
                            <p class="m-0">refund@example.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
