@model RoyalCars.Models.CompanyViewModel

@{
    ViewData["Title"] = "Create";

}
<div class="container">

    <h1>Create</h1>

    <h4>Company</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CompanyName" class="control-label"></label>
                    <input asp-for="CompanyName" class="form-control" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="mobileNumber1" class="control-label"></label>
                    <input asp-for="mobileNumber1" class="form-control" />
                    <span asp-validation-for="mobileNumber1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FacebookURL" class="control-label"></label>
                    <input asp-for="FacebookURL" class="form-control" />
                    <span asp-validation-for="FacebookURL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TwitterURL" class="control-label"></label>
                    <input asp-for="TwitterURL" class="form-control" />
                    <span asp-validation-for="TwitterURL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InstagramURL" class="control-label"></label>
                    <input asp-for="InstagramURL" class="form-control" />
                    <span asp-validation-for="InstagramURL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Img" class="control-label"></label>
                    <input asp-for="Img" class="form-control" />
                    <span asp-validation-for="Img" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CompanyLocation" class="control-label"></label>
                    <input asp-for="CompanyLocation" class="form-control" />
                    <span asp-validation-for="CompanyLocation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MembershipFee" class="control-label"></label>
                    <input asp-for="MembershipFee" class="form-control" />
                    <span asp-validation-for="MembershipFee" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

  
</div>
